@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
    var user = await UserManager.GetUserAsync(User);

    var isAdmin = user != null ?
        await UserManager.IsInRoleAsync(user, "Administrator") :
        false;
}



<div>
    <div id="resultContainer">
        @if (ViewData["Result"] != null)
        {
            <h3>Result:</h3>
            <p>@ViewData["Result"]</p>
        }
    </div>
</div>

@if (SignInManager.IsSignedIn(User) && !isAdmin)
{
    <div class="text-center mb-5">
        <h1 class="display-5">Welcome to Your Virtual Operating System!</h1>
    </div>

    <div class="container text-center mt-5">
        <p class="lead">Explore and manage a virtual Linux environment with full file system administration capabilities.</p>
        <p class="lead">Your volume, at location <code>/workspace</code>, provides a permanent storage solution for your files, ensuring you can store and access your data securely.</p>
        <p class="lead">Enjoy the flexibility to perform various system administration tasks, learn Linux commands, and more, all within a safe and controlled environment.</p>
        <p class="lead">Connect to your virtual environment using PuTTY SSH client with provided information. Private key can be used for passwordless login.</p>
    </div>

    <br>
    <br>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="border rounded p-4">
                <h5 class="text-center display-6">PuTTY private key</h5>
                <br />
                <div class="mb-2">Ip Address: @user.IpAddress</div>
                <div class="mb-2">Port: @user.Port</div>
                <textarea id="puttyPrivateKey" class="form-control" rows="10" cols="80" readonly>@user.PuttyPrivateKey</textarea>
                <button class="btn btn-primary mt-2" onclick="copyText()">Copy Text</button>
            </div>
        </div>
    </div>
}
else if (isAdmin)
{
    <div class="text-center mb-5">
        <h1 class="display-5">Welcome, Administrator!</h1>
    </div>

    <div class="container text-center mt-5">
        <p class="lead">Manage user accounts, oversee system administration tasks, and monitor Docker containers effortlessly with our administration dashboard.</p>
        <p class="lead">Explore user profiles, start or stop Docker containers, and keep track of system activities to ensure smooth operation.</p>
    </div>

}
else
{
    <div class="container text-center mt-5">
        <img src="~/images/virtual-server.png" class="img-fluid mb-4" style="max-width: 200px;" alt="Virtual server">
        <p class="lead">Welcome! Please register to access our system administration tools and create your virtual operating environment.</p>
    </div>

}



@section Scripts {
    <script>
        function copyText() {
            ppkTextArea = document.getElementById('puttyPrivateKey');
            ppkTextArea.select();
            document.execCommand('copy');
            alert('Text copied to clipboard!');
        }
    </script>
}